@import "../global/variables.scss";

.dashboard-header {
  align-items: center;
  background-color: $white;
  color: $dark-gray;
  display: flex;
  height: $header-height;
  justify-content: space-between;
  padding: 0 25px;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - #{$sidebar-width});
}

.dashboard-header__search {
  display: flex;
  align-items: center;
  color: $dark-gray;
}

.dashboard-header__search-input {
  border: none;
  outline: none;
  margin-left: 10px;
  color: $dark-gray;

  &::placeholder {
    color: $dark-gray;
  }
}

.dashboard-navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.dashboard-navbar__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0 10px;
}

.dashboard-navbar__bullet {
  margin: 0 10px;
  display: flex;
}

.dashboard-navbar__link {
  color: $dark-gray;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;

  &:hover {
    color: $secondary;
    transition: 0.3s ease-in-out;
  }
}

.logout {
  display: flex;
  align-items: center;
  transition: 0.3s ease-in-out;

  &:hover {
    color: $secondary;
    transition: 0.3s ease-in-out;
  }
}

.logout__text {
  margin-left: 5px;
}
