@import "../global/variables.scss";

.dashboard-header {
  align-items: center;
  border-bottom: 1px solid rgba(129, 129, 129, 0.246);
  color: $color;
  display: flex;
  height: $header-height;
  justify-content: space-between;
  padding: 0 25px;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - #{$sidebar-width});
}

.logo {
  align-items: center;
  display: flex;
  justify-content: center;
}

.logo__image {
  height: 40px;
}

.dashboard-navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.dashboard-navbar__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0 20px;
}

.dashboard-navbar__bullet {
  margin: 0 20px;
}

.dashboard-navbar__link {
  color: $color;
  text-decoration: none;
  transition: 0.3s ease-in-out;

  &:hover {
    color: $secondary;
    transition: 0.3s ease-in-out;
  }
}

.dashboard-navbar__profile {
  transition: 0.3s ease-in-out;

  &:hover {
    color: $secondary;
    transition: 0.3s ease-in-out;
  }
}
