@import "../global/variables.scss";

.dashboard-sidebar {
  height: 100%;
  width: $sidebar-width;
  background-color: $white;
}

.dashboard-sidebar__list {
  height: auto;
  padding: 0;
  width: 100%;
}

.dashboard-sidebar__row {
  align-items: center;
  color: $dark-color;
  display: flex;
  flex-direction: row;
  height: $header-height;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  transition: 0.1s ease-in-out;
  width: 100%;

  &:hover {
    background-color: $gray;
    cursor: pointer;
    transition: 0.1s ease-in-out;
  }
}
.dashboard-sidebar__row--active {
  border-right: 3px solid $secondary;
  color: $secondary;
}

.dashboard-sidebar__icon {
  display: grid;
  flex: 30%;
  place-items: center;
}

.dashboard-sidebar__title {
  flex: 70%;
}
