//Font
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300;400;700&display=swap");
$theme-font: "Encode Sans Expanded", sans-serif;

//Application color palette
$white: #ffffff;
$gray: #ebebeb;
$dark-gray: #7e7e7e;
$black: #1d2731;
$dark-color: #0b3c5d;
$color: #194b6d;
$light-color: #328cc1;
$secondary: #d9b310;

//fixed sizes
$header-height: 60px;
$sidebar-width: 230px;
