//Font
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
//$theme-font: "Encode Sans Expanded", sans-serif;
$theme-font: "Lato", sans-serif;

//Application color palette
$white: #ffffff;
$black: #1d2731;
$dark-gray: #7e7e7e;
$gray: #f1f1f1ad;
$dark-color: #0b3c5d;
$color: #194b6d;
$light-color: #328cc1;
$secondary: #d9b310;

//fixed sizes
$header-height: 50px;
$sidebar-width: 230px;

//box shadows
$box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.03);
