//Font
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
$theme-font: "DM Sans", sans-serif;

//Application color palette
$white: #ffffff;
$black: #1d2731;
$dark-gray: #9e9e9ec7;
$gray: #f1f1f1ad;
$dark-color: #0b3c5d;
$color: #194b6d;
$light-color: #328cc1;
$secondary: #d9b310;

//extra colors
$green: #34d698;
$red: #ff6173;
$light-gray: #fbfbfb;
$light-blue: #9191af;
$dark-blue: #2a2858;

//fixed sizes
$header-height: 50px;
$sidebar-width: 230px;

//box shadows
$box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08s);
