@import "../global/variables.scss";

.register-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
}

.register-container__box {
  position: relative;
  height: 500px;
  width: 400px;
  border-radius: 10px;
  box-shadow: $box-shadow;
  background-color: $dark-color;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 30px 0px;
  width: 100%;
}

.register-form__input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid $light-gray;
  outline: 0;
  font-size: 1rem;
  font-weight: 700;
  color: $white;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: $light-gray;
    font-weight: 300;
    font-size: 0.9rem;
  }
}

.register-form__login-link {
  position: absolute;
  bottom: 20px;
  display: flex;
  gap: 5px;
  align-items: center;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: $white;
  &:hover {
    color: $secondary;
    gap: 10px;
    transition: all 0.3s ease-in-out;
  }
}
